<div class="ssl-output">
    <h4>IP_ADDRESS:PORT HOST_NAME</h4>
    <code>
        <div>
            PROTOCOLS WHERE:
            LINE CONTAINS 'TLSv1.2' AND LINE CONTAINS 'enabled' -> weak
                LINE CONTAINS 'TLSv1.1' AND LINE CONTAINS 'enabled' -> weak
                LINE CONTAINS 'SSLv3' AND LINE CONTAINS 'enabled' -> weak
                LINE CONTAINS 'SSLv2' AND LINE CONTAINS 'enabled' -> weak
        </div>
        <div>
            FALLBACK WHERE:
        </div>
        <div>
            RENEGOTIATION WHERE:
        </div>
        <div>
            COMPRESSION WHERE:
        </div>
        <div>
            HEARTBLEED WHERE:
        </div>
        <div>
            CIPHERS WHERE:
                CIPHER_STRENGTH IS 'insecure' -> weak
                CIPHER_STRENGTH IS 'weak' -> weak
        </div>
        <div>
            EXCHANGE_GROUPS WHERE:
        </div>
        <div>
            METADATA WHERE:
                LINE CONTAINS '*' -> weak ON MATCH
        </div>
    </code>
</div>